@use '../../scss/mixins';
@use '../../scss/variables' as var;
.api {
  width: 100%;
  height: 100%;
  text-align: center;
}
.container {
  width: 100%;
  min-height: 100vh;
  background-color: #000000;
}
.title {
  @include mixins.title(var.$titleThMob);
  padding: 45px;
}
img {
  width: 90%;
  display: block;
  margin: auto;
}
@media (min-width: 768px) {
  .container,
  .api {
    .title {
      font-size: var.$titleThTab;
    }
    img {
      width: 70%;
    }
  }
}
@media (min-width: 1024px) {
  .container,
  .api {
    img {
      width: 50%;
    }
  }
}
