@use '../../scss/mixins';
@use '../../scss/variables' as var;
.container {
  @include mixins.viewContainer;
  @include mixins.background(
    '../../assets/destination/background-destination-mobile.jpg'
  );
  .subtitle {
    font-size: var.$subtitleMob;
    @include mixins.subtitle;
    span {
      padding-right: 20px;
      color: rgba(255, 255, 255, 0.4);
    }
  }
  .wrapper {
    @include mixins.wrapper;
    animation: opacity 0.3s linear;
    .planet {
      width: 170px;
      margin: 0 auto;
      padding: 20px 0;
      animation: planet 0.3s ease-in-out;
    }
    .content {
      margin: 0 auto;
      text-align: center;
      .title {
        @include mixins.title(var.$titleSecMob);
        padding-top: 20px;
      }
      .description {
        padding: 10px 0 40px;
        line-height: 170%;
      }
      .paramsWrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        text-transform: uppercase;
        padding: 20px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        .params {
          position: relative;
          animation: params 0.2s ease-in;
          padding: 20px 0;
        }
        .param {
          font-family: Bellefair;
          font-size: 28px;
          padding: 15px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    @include mixins.background(
      '../../assets/destination/background-destination-tablet.jpg'
    );
    .subtitle {
      align-self: flex-start;
      font-size: var.$subtitleTab;
      margin-left: 5%;
      padding-top: 20px;
    }
    .wrapper {
      width: 85%;
      .planet {
        width: 300px;
        padding: 30px;
      }
      .content {
        width: 70%;
        .title {
          font-size: var.$titleSecTab;
        }
        .paramsWrapper {
          flex-direction: row;
          justify-content: space-around;
          .params {
            padding: 20px;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    @include mixins.background(
      '../../assets/destination/background-destination-desktop.jpg'
    );
    .subtitle {
      margin-left: 12%;
      font-size: var.$subtitleDesk;
    }
    .wrapper {
      flex-direction: row;
      margin: auto;
      .planet {
        width: 445px;
        transition: all 0.3s linear;
      }
      .content {
        width: 40%;
        text-align: left;
        .title {
          font-size: var.$titleSecDesk;
          justify-content: flex-start;
        }
        .description {
          font-size: 18px;
        }
        .paramsWrapper {
          justify-content: flex-start;
          padding-left: 0;
          .params {
            padding-left: 0;
            padding-right: 60px;
          }
          .param {
            padding-left: 0;
          }
        }
      }
    }
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes planet {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes params {
  from {
    right: -800px;
  }
  to {
    right: 0px;
  }
}
