@use '../../scss/mixins';
@use '../../scss/variables' as var;
.container {
  @include mixins.viewContainer;
  @include mixins.background(
    '../../assets/technology/background-technology-mobile.jpg'
  );
  .subtitle {
    font-size: var.$subtitleMob;
    @include mixins.subtitle;
    span {
      padding-right: 20px;
      color: rgba(255, 255, 255, 0.4);
    }
  }
  .wrapper {
    @include mixins.wrapper;
    animation: opacity 0.3s linear;
    width: 100%;
    .space {
      width: 100%;
    }
    .content {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      .addText {
        text-transform: uppercase;
        padding: 20px 0;
        font-size: 14px;
      }
      .title {
        @include mixins.title(var.$titleThMob);
      }
      .description {
        padding: 10px 0 40px;
        line-height: 170%;
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    @include mixins.background(
      '../../assets/technology/background-technology-tablet.jpg'
    );
    .subtitle {
      align-self: flex-start;
      font-size: var.$subtitleTab;
      margin-left: 5%;
      padding-top: 20px;
    }
    .wrapper {
      width: 100%;
      .space {
        padding: 30px 0 30px 0;
      }
      .content {
        width: 70%;
        .addText {
          font-size: 16px;
        }
        .title {
          font-size: var.$titleThTab;
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .container {
    @include mixins.background(
      '../../assets/technology/background-technology-desktop.jpg'
    );
    .subtitle {
      margin-left: 8%;
      font-size: var.$subtitleDesk;
    }
    .wrapper {
      flex-direction: row;
      margin: auto;
      justify-content: space-between;
      & :nth-child(1) {
        order: 3;
      }
      & :nth-child(3) {
        order: 1;
      }
      & :nth-child(2) {
        order: 2;
      }
      .space {
        width: 480px;
        padding: 0;
      }
      .content {
        width: 40%;
        text-align: left;
        margin: 0;
        order: 2;
        .title {
          font-size: var.$titleThDesk;
          justify-content: flex-start;
        }
        .description {
          font-size: 18px;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .container {
    .subtitle {
      margin-left: 11%;
    }
    .wrapper {
      margin: auto;
      .space {
        width: 515px;
      }
      .content {
        margin: auto;
      }
    }
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
